@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;

  font-family: "Roboto";
}

/* Prevent horizontal overflow */
html,
body {
  overflow-x: hidden;
}

.body {
  background-color: black;
  color: white;
  box-sizing: border-box;
 
  
  

}

.left {
  width: 20vw;
  border: 2px solid black;
  margin: 3px;
  padding: 10px;
}

.right {
  width: 80vw;
  /* border: 2px solid red; */
  margin: 3px;
  padding: 10px;
}

.container {
  display: flex;
  position: fixed;
  width: 100%;
  max-height: 100vh ;
}

.search img {
  height: 35px;
  width: 28px;
}

.home-icon img {
  width: 25px;
  padding-top: 20px;
}

.search img {
  width: 25px;
}

.logo img {
  width: 25px;
}

.home {
  padding: 20px;
  border-radius: 10px;
}

.library {
  margin-top: 10px;
  border-radius: 10px;
  min-height: 80vh;
  padding: 10px;
  position: relative;

    height: 300px; /* Adjust to fit your design */
  overflow-y: auto; /* Scroll vertically when content overflows */
    height: calc(100vh - 150px);

  padding-right: 5px; /* Space for scrollbar */
}



.library-footer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0px;
  margin-bottom:0px;
  bottom: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #0d0c0c;
  padding: 20px;
  margin-left: -20px;
  gap: 20px;
  border-radius: 10px;
  margin-top: 2px;
}

.spotify-playlist {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  max-height: 60vh;
  overflow-y: scroll;
  padding-bottom: 120px;
  box-sizing: border-box;

}

.cards {
  width: 200px;
  /* border: 2px solid red; */
  padding: 20px;
  background-color: #121212;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  cursor: pointer;

  
  width: 200px;         /* fixed width */
  height: 327px;        /* fixed height */
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;     /* hide excess text */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.cards:hover {
  background-color: #252323;
  transition: 0.5s all;
}

.cards > * {
  padding: 5px;
}

.cards img {
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 145px;
  right: 15px;
  width: 55px;
}

/* Scroll bar code  */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #121212; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Scrollbar thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* On hover */
}

.sign-up-button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.sign-up-button:hover {
  text-decoration: underline;
}

.login-button {
  background: #ffffff;
  color: #000000;
  border: none;
  padding: 8px 20px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: ease-in-out 1s, color 0.2s;
}

.login-button:hover {
  background: #f0f0f0;
}

.buttons > * {
  margin: 0px 10px;
}

.playbar {
  background-color: #121212;
  bottom: 0px;
  position: fixed;
  width: 76%;
  height: 40px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 30px;

  margin-left: -15px;
}

.playbar > * {
  gap: 15px;
}

ul li {
  list-style: none;
}

.song-list {
  max-width: 250px;
  /* overflow-x: auto; */
  word-wrap: break-word;
  padding: 10px;
  color: white;
  font-size: 14px;
  margin-bottom: 80px;
  margin-top: 20px;
}

.song-list ul {
  list-style: decimal;
  padding-left: 20px;
  margin: 0;
}

.song-list li {
  margin-bottom: 10px;
  word-break: break-all;
  margin-bottom: 10px;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  border: 1px solid #322f2f;
  border-radius: 3px;
}

a {
  color: white;
  text-decoration: none;
}

ul li > * {
  padding: 5px;
}

.play-button {
  cursor: pointer;
}

.seekbar {
  background-color: black;
  height: 5px;
  width: 75%;
  cursor: pointer;
  margin-top: 7px;
  border-radius: 10px;
  position: fixed;
  bottom: 15px;
}

.song-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.song-buttons img {
  cursor: pointer;
}

.circle {
  background-color: blue;
  height: 15px;

  width: 15px;
  border-radius: 100px;
  position: absolute;
  top: -5px;
  transition: 0.5s;
}

.songinfo {
  margin-top: -30px;
}

.volume {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  /* margin-right: 70px; */
  gap: 8px;
  cursor: pointer;
  bottom: 41px;
  position: fixed;
  right: 150px;
}

.volume img {
  /* margin-right:10px; */
}

.range input {
  cursor: pointer;
  height: 9px;
}

.spotify-playlist h1 {
  font-family: cursive;
}
